:root {
    --border-color: rgb(185, 185, 185);
    --border-radius: 6px;
    --black-color: #333;
    --caption-color: #3B5998;
    --background-color: #f4f4f4;
    --by-information-color: #888;
    color: var(--black-color);
    font-family: Verdana, sans-serif;
    font-size: 16px;
}

.middle main article {
    margin-bottom: 2rem;
}

.middle main article .title {
    font-size: 1.5rem !important;
    color: var(--caption-color) !important;
    font-weight: bold;
}

.middle main article .information {
    color: var(--by-information-color) !important;
}

.middle main article .body {
    border-left: 0.2rem solid var(--border-color);
    padding-left: 0.7rem;
}

.middle main article .attachment {
    font-size: 0.8rem !important;
    color: var(--by-information-color) !important;
    padding-left: 0;
    list-style-type: none;
}

.middle main article .attachment li:before {
    content: url(../img/paperclip-16x16.png);
    padding-right: 0.3rem;
    vertical-align: middle;
}

.middle main article .footer {
    overflow: auto;
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius);
}

.middle main article .footer .left {
    float: left;
    padding: 0.5rem;
}

.middle main article .footer .left .positive-score {
    color: green !important;
    font-weight: bold;
}

.middle main article .footer .right {
    float: right;
    padding: 0.5rem;
}

.middle main article .footer .right img {
    margin-left: 0.5rem;
}
.middle main article .footer img {
    vertical-align: middle;
}